<div class="@ColClass">
    <div class="card shadow h-100 py-2" style="border-left: 0.25rem solid @BorderHex !important;">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: @BorderHex !important;">@Title</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Value</div>
                </div>
                <div class="col-auto">
                    <i class="@Icon fa-2x" style="color: #dddfeb !important;"></i>
                </div>
            </div>
        </div>
    </div>
</div>