################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HerdSync/.vs/HerdSync/FileContentIndex/6450aa1f-bc0d-4ef2-802d-b8d30ac5a5dc.vsidx
