@inherits LayoutComponentBase
@rendermode @(new InteractiveServerRenderMode(prerender: true))

<div class="auth-wrapper">
    <div class="auth-card">
        <div class="auth-logo">
            <img src="/KuddeCroppedLogo.png" alt="Kudde" />
        </div>
        @Body
    </div>
</div>