body[b-8v5tn0cj4f] {
    margin: 0;
    padding-top: 40px;
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
}

.account-settings .user-profile[b-8v5tn0cj4f] {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

    .account-settings .user-profile .user-avatar[b-8v5tn0cj4f] {
        margin: 0 0 1rem 0;
    }

        .account-settings .user-profile .user-avatar img[b-8v5tn0cj4f] {
            width: 90px;
            height: 90px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
            object-fit: cover;
        }

    .account-settings .user-profile h5.user-name[b-8v5tn0cj4f] {
        margin: 0 0 0.5rem 0;
    }

    .account-settings .user-profile h6.user-email[b-8v5tn0cj4f] {
        margin: 0;
        font-size: 0.8rem;
        font-weight: 400;
        color: #9fa8b9;
    }

.account-settings .about[b-8v5tn0cj4f] {
    margin: 2rem 0 0 0;
    text-align: center;
}

    .account-settings .about h5[b-8v5tn0cj4f] {
        margin: 0 0 15px 0;
        color: #007ae1;
    }

    .account-settings .about p[b-8v5tn0cj4f] {
        font-size: 0.825rem;
    }

.form-control[b-8v5tn0cj4f] {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card[b-8v5tn0cj4f] {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

h5[b-8v5tn0cj4f], h6[b-8v5tn0cj4f]{
    color: rgba(116,143,122,1) !important;
}

.text-primary[b-8v5tn0cj4f]{
    color: rgb(125, 166, 135);
}
.btn-primary[b-8v5tn0cj4f] {
    background-color: rgb(125, 166, 135) !important;
    border-color: rgb(125, 166, 135) !important;
}