@using Kudde.Shared.DTO.Animal

<HsDialog Visible="true" Title="@(ExistingTag != Guid.Empty ? "Edit Tag" : "Add New Tag")" DialogSize="modal-md">
    <Content>
        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 16px;">
            <div>
                <input type="text"
                       @bind="tag.RFIDTagCode"
                       placeholder="Tag ID"
                       class="form-control" />

                <select @bind="tag.AnimalId" class="form-select mt-2">
                    @foreach (var animal in HerdList)
                    {
                        <option value="@animal.AnimalId">@animal.DisplayIdentifier</option>
                    }
                </select>

                <div class="form-check mt-2">
                    <input type="checkbox" class="form-check-input" @bind="tag.IsCurrent" id="currentTag" />
                    <label class="form-check-label" for="currentTag">Current Tag</label>
                </div>
            </div>
        </div>
    </Content>
    <Buttons>
        <HsButton Text="Cancel" Variant="HsButton.ButtonVariant.Secondary" OnClick="Cancel" />
        <HsButton Text="OK" Variant="HsButton.ButtonVariant.Teal" OnClick="Submit" />
    </Buttons>
</HsDialog>