@inherits LayoutComponentBase
@rendermode @(new InteractiveServerRenderMode(prerender: true))

<div class="auth-wrapper">
    <div class="auth-card">
        <div class="auth-logo">
            <img src="/herdsync_short_cropped_transparent.png" alt="HerdSync" />
        </div>
        @Body
    </div>
</div>