body[b-k9wbimkdl9] {
    margin-top: 20px;
}

.shadow[b-k9wbimkdl9] {
    box-shadow: 0 0 3px rgb(53 64 78 / 20%) !important;
}

.rounded[b-k9wbimkdl9] {
    border-radius: 5px !important;
}

.bg-light[b-k9wbimkdl9] {
    background-color: #f7f8fa !important;
}

.bg-primary[b-k9wbimkdl9], .btn-primary[b-k9wbimkdl9], .btn-outline-primary:hover[b-k9wbimkdl9], .btn-outline-primary:focus[b-k9wbimkdl9], .btn-outline-primary:active[b-k9wbimkdl9], .btn-outline-primary.active[b-k9wbimkdl9], .btn-outline-primary.focus[b-k9wbimkdl9], .btn-outline-primary:not(:disabled):not(.disabled):active[b-k9wbimkdl9], .badge-primary[b-k9wbimkdl9], .nav-pills .nav-link.active[b-k9wbimkdl9], .pagination .active a[b-k9wbimkdl9], .custom-control-input:checked ~ .custom-control-label[b-k9wbimkdl9]:before, #preloader #status .spinner > div[b-k9wbimkdl9], .social-icon li a:hover[b-k9wbimkdl9], .back-to-top:hover[b-k9wbimkdl9], .back-to-home a[b-k9wbimkdl9], [b-k9wbimkdl9]::selection, #topnav .navbar-toggle.open span:hover[b-k9wbimkdl9], .owl-theme .owl-dots .owl-dot.active span[b-k9wbimkdl9], .owl-theme .owl-dots.clickable .owl-dot:hover span[b-k9wbimkdl9], .watch-video a .play-icon-circle[b-k9wbimkdl9], .sidebar .widget .tagcloud > a:hover[b-k9wbimkdl9], .flatpickr-day.selected[b-k9wbimkdl9], .flatpickr-day.selected:hover[b-k9wbimkdl9], .tns-nav button.tns-nav-active[b-k9wbimkdl9], .form-check-input.form-check-input:checked[b-k9wbimkdl9] {
    background-color: #90b499 !important;
}

.badge[b-k9wbimkdl9] {
    padding: 5px 8px;
    border-radius: 3px;
    letter-spacing: 0.5px;
    font-size: 12px;
}

.btn-primary[b-k9wbimkdl9], .btn-outline-primary:hover[b-k9wbimkdl9], .btn-outline-primary:focus[b-k9wbimkdl9], .btn-outline-primary:active[b-k9wbimkdl9], .btn-outline-primary.active[b-k9wbimkdl9], .btn-outline-primary.focus[b-k9wbimkdl9], .btn-outline-primary:not(:disabled):not(.disabled):active[b-k9wbimkdl9] {
    box-shadow: 0 3px 7px #748f7a !important;
}

.btn-primary[b-k9wbimkdl9], .btn-outline-primary[b-k9wbimkdl9], .btn-outline-primary:hover[b-k9wbimkdl9], .btn-outline-primary:focus[b-k9wbimkdl9], .btn-outline-primary:active[b-k9wbimkdl9], .btn-outline-primary.active[b-k9wbimkdl9], .btn-outline-primary.focus[b-k9wbimkdl9], .btn-outline-primary:not(:disabled):not(.disabled):active[b-k9wbimkdl9], .bg-soft-primary .border[b-k9wbimkdl9], .alert-primary[b-k9wbimkdl9], .alert-outline-primary[b-k9wbimkdl9], .badge-outline-primary[b-k9wbimkdl9], .nav-pills .nav-link.active[b-k9wbimkdl9], .pagination .active a[b-k9wbimkdl9], .form-group .form-control:focus[b-k9wbimkdl9], .form-group .form-control.active[b-k9wbimkdl9], .custom-control-input:checked ~ .custom-control-label[b-k9wbimkdl9]:before, .custom-control-input:focus ~ .custom-control-label[b-k9wbimkdl9]::before, .form-control:focus[b-k9wbimkdl9], .social-icon li a:hover[b-k9wbimkdl9], #topnav .has-submenu.active.active .menu-arrow[b-k9wbimkdl9], #topnav.scroll .navigation-menu > li:hover > .menu-arrow[b-k9wbimkdl9], #topnav.scroll .navigation-menu > li.active > .menu-arrow[b-k9wbimkdl9], #topnav .navigation-menu > li:hover > .menu-arrow[b-k9wbimkdl9], .flatpickr-day.selected[b-k9wbimkdl9], .flatpickr-day.selected:hover[b-k9wbimkdl9], .form-check-input:focus[b-k9wbimkdl9], .form-check-input.form-check-input:checked[b-k9wbimkdl9], .container-filter li.active[b-k9wbimkdl9], .container-filter li:hover[b-k9wbimkdl9] {
    border-color: #6dc77a !important;
}

    .bg-primary[b-k9wbimkdl9], .btn-primary[b-k9wbimkdl9], .btn-outline-primary:hover[b-k9wbimkdl9], .btn-outline-primary:focus[b-k9wbimkdl9], .btn-outline-primary:active[b-k9wbimkdl9], .btn-outline-primary.active[b-k9wbimkdl9], .btn-outline-primary.focus[b-k9wbimkdl9], .btn-outline-primary:not(:disabled):not(.disabled):active[b-k9wbimkdl9], .badge-primary[b-k9wbimkdl9], .nav-pills .nav-link.active[b-k9wbimkdl9], .pagination .active a[b-k9wbimkdl9], .custom-control-input:checked ~ .custom-control-label[b-k9wbimkdl9]:before, #preloader #status .spinner > div[b-k9wbimkdl9], .social-icon li a:hover[b-k9wbimkdl9], .back-to-top:hover[b-k9wbimkdl9], .back-to-home a[b-k9wbimkdl9], [b-k9wbimkdl9]::selection, #topnav .navbar-toggle.open span:hover[b-k9wbimkdl9], .owl-theme .owl-dots .owl-dot.active span[b-k9wbimkdl9], .owl-theme .owl-dots.clickable .owl-dot:hover span[b-k9wbimkdl9], .watch-video a .play-icon-circle[b-k9wbimkdl9], .sidebar .widget .tagcloud > a:hover[b-k9wbimkdl9], .flatpickr-day.selected[b-k9wbimkdl9], .flatpickr-day.selected:hover[b-k9wbimkdl9], .tns-nav button.tns-nav-active[b-k9wbimkdl9], .form-check-input.form-check-input:checked[b-k9wbimkdl9] {
        background-color: #748f7a !important;
    }

.btn[b-k9wbimkdl9] {
    padding: 8px 20px;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    font-weight: 600;
    border-radius: 5px;
}

.btn-primary[b-k9wbimkdl9] {
    background-color: #90b499 !important;
    border: 1px solid Grey !important;
    color: #fff !important;
    box-shadow: 0 3px 7px rgb(109 199 122 / 50%);
}

a[b-k9wbimkdl9] {
    text-decoration: none;
}
